html body {
    -webkit-font-smoothing:antialiased;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
    font-family: helvetica;
    font-size: 14;
}

ul li {
    list-style: none;
}

.header {
    width: 100%;
    height: 65px;/* if you give a height of more than 48px, you will the color of header. 44ppx is the same height as navbar*/
    padding: 10px 1px;
    background-color: #ff0000;
}
.aboutme_headline {
    font-size: 46px;
    margin-top: -30px;
    padding: 0px;
    color: #b3b3b3;
}
h1 {
    color: #ffffff;
    font-size: 50px;
    margin-bottom: 20px;
}
h2 {
    color: #ffffff; /* it is the color of me header text. But the text removed from html text*/
}
h3 {
    color: #b3b3b3;
}
.content { /* it is the an example content of paragraph*/
    width: 100%;
}

.sticky { /* it makes the header stick to the top*/
  position: fixed;
  top: 0;
  width: 100%; /* it sticks to 100% all the time*/
}
.sticky + .content {
  padding-top: 102px;
}
.nav {
    width: 960px;
    background: #000000; /* if you give the color or on, you will see the navbar that does not reach the edge! fix it!!*/
    height: 88px;
    position: absolute;
    margin-top: -80px;
    margin-left: 479px;
}

ul {
    margin: 0;
    padding: 0;
}
li.pad {
    float: right;
}

a {
    color: #ffffff;
    display: block;
    padding: 0px;
    transition: 0.1s;
    text-decoration: none;
}

/* --------------------------------------
it is the distance of inside navbar menu
-----------------------------------------*/
.pad a {
    font-size: 14.5px;
    float: right;
    text-decoration: none; /* default under line of all anchor text inside dropdown menu*/
    padding: 40px 20px 32px 20px; /*they are the distance between top, right, bottom and left of the top menubar*/.
}
#holder ul {
    width: 100%;
    margin-left: 0;
    background: #ff0000; /*it is to see how big of each individual box inside dropdown menu*/
}
#holder ul li span {
    padding: 0px 5px 2px 0px; /* it is the distance between line and top-menu*/.
}
.pad > a:hover, .using > li:hover > a  {
    background: #262626; /* it is the color of anchor tag of top menu when hovering*/
    color: #ffffff;
}

#home ul li a:hover span, .using > li:hover > a > span {
    border-bottom: 2px solid #ffffff;
    transition: 0.1s;
}

#about_me ul li a:hover span, .using > li:hover > a > span {
    border-bottom: 2px solid #ffffff;
    transition: 0.1s;
}

li:hover > a, li:hover > a {
    background: #262626; /* it is the background color of the top menu item remaining when hovering sub-menu item*/
}
#book ul li a:hover span, #book  li:hover > a > span {
    border-bottom: 2px solid #ffffff;
    transition: 0.1s;
}
#contact ul li a:hover span {
    border-bottom: 2px solid #ffffff;
    transition: 0.1s;
}


.bottom-container {
    position: absolute;
    width: auto ;
    height: 300px;
    background-color: #333;
    padding: 30p;
    text-align: left;
    color: #222;
}
.info2 { /*left side box*/
    width: 200px;
    height: 150px;
    position: absolute;
    background-color: inherit;
    padding: 2px;
    margin-left: 1200px;
    margin-top: 0px;
    text-align: left;
    color: #ffffff;
}

.info { /* left sitemap */
    width: 200px;
    height: 150px;
    position: absolute;
    background-color: inherit;
    padding: 2px;
    margin-left: 100px;
    margin-bottom: -30px;
    text-align: left;
    color:  #ffffff;
}

.info3 { /* the whole footer banner */
    width: 200px;
    height: 150px;
    background-color: inherit;
    position: relative;
    padding: 2px;
    margin-left: 1716px;
    margin-bottom: -30px;
    text-align: left;
    color: #ffffff;
}
.info4 { /* Helpful Links */ 
    width: 200px;
    height: 150px;
    background-color: inherit;
    position: absolute;
    padding: 2px;
    margin-left: 650px;
    margin-top: -124px;
    text-align: left;
    color: #ffffff;
}

#container-box {
    width:  100%;
    height: auto;
}

.abouttext {
    width: 500px;
    color: #ffffff;
    font-size: 20px;
    margin-top: -700px;
    margin-left: 90px;
    height: 629px;
    line-height: 30px;
}
.abouttext2 {
    width: 700px;
    color: #ffffff;
    font-size: 20px;
    margin-top: -735px;
    margin-left: 1150px;
    height: 648px;
    line-height: 30px;
}
